{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^[./]",
    "^[^@].*$",
    "^@/",
    "^@/lib/",
    "^@/contexts/",
    "^@/hooks/",
    "^@/pages/",
    "^@/components/"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
